# Next.js
.next
node_modules

# Flask
__pycache__
*.pyc
venv/
Include
Lib
Scripts
pyvenv.cfg


#
client_secret.json

# Python
.env
.venv
env/

# PostgreSQL
*.sqlite3

# IDE
.vscode
.idea

#if it does not remove normally through .gitignore
git rm --cached akin_learning/backend/venv/test_db_connection.py