# Next.js
.next
node_modules

# Flask
__pycache__
*.pyc
.venv/
/akin_learning/backend/routes/config/
pyvenv.cfg

# Python
.env
.venv
env/

# PostgreSQL
*.sqlite3

# IDE
.vscode
.idea

#if it does not remove normally through .gitignore
git rm --cached akin_learning/backend/venv/test_db_connection.py